.search-bar {
    width: 68%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;

    .search-icon {
        vertical-align: middle;
        margin-right: 10px;
    }

    input {
        border: none;
        outline: none;
        width: 90%;
    }

}

@media (max-width: 700px) {
    .search-bar {
        // width: 55%;
    }
}